<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="herramientos"  style="display:flex; background-color: aliceblue;">
        <button class="herramineta"><b>B</b></button>
        <button class="herramineta"><i>I</i></button>
        <button class="herramineta"><u>U</u></button>
        <button class="herramineta"><s>U</s></button>
        <select class="herramineta" name="Size">
        <option disabled>Size</option>
        <option>1</option>
        <option>2</option>
        <option>4</option>
        <option>6</option>
        <option>8</option>
        <option>10</option>
        <option>12</option>
        <option>16</option>
        <option>18</option>
        <option>20</option>
        <option>22</option>
        <option>24</option>
        <option>26</option>
        <option>28</option>
        <option>30</option>
    </select>
    <select class="herramineta" name="Font">
        <option disabled>Font</option>
        <option>Arial</option>
        <option>Verdana</option>
        <option>Tahoma</option>
        <option>Trebuchet MS</option>
        <option>Times New Roman</option>
        <option>Georgia</option>
        <option>Garamond</option>
        <option>Courier New</option>
        <option>Brush Script MT</option>
    </select>
    <select class="herramineta" name="color">
        <option disabled>color</option>
        <option>yellow</option>
        <option>green</option>
        <option>blue</option>
        <option>white</option>
        <option>black</option>
        <option>gris</option>
        <option>pink</option>
        <option>red</option>
        <option>brow</option>
        <option>purple</option>
    </select>
    <select class="herramineta" name="background-color">
        <option disabled>background color</option>
        <option>yellow</option>
        <option>green</option>
        <option>blue</option>
        <option>white</option>
        <option>black</option>
        <option>gris</option>
        <option>pink</option>
        <option>red</option>
        <option>brow</option>
        <option>purple</option>
    </select>
    </div>
    <div id="texto" onclick="lol(event)">sdkjganlgasnbLJBN SDBAEDNAERNADFJTFTGJSDTJNADTHAERYBARY
        ABEYREYERYBERBT wb4gyvtrkjaicsjsthiyn amgnqrhg erfijharw yhariegxarghwa
    eharlehavm argeahrjhaejr hjaerhnagrxjag rhgxauireg irhr giuahrharjharbr 
 arheth aeh rh areh.ma erkj  rjg ar lol kok </div>
</body>
<script>
    function change_text(){
        console.log("enter")
    }
    function lol(event){
        let texto = document.getElementById("texto");
        let text = window.getSelection();
        console.log("text is selected")
        console.log(text.toString())
    }
</script>
</html>