<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody" onload="lwindow()">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
        <button class="buttonmenu" onclick="button_on_click()"><img class="imgmenu" src="/img/menu.png"></button>
    </nav>
    <main id="main">
        <div  id ="left">
            <div id ="user_data">
                <table class = 'table1'>
                    <tr id="row_user_name">
                        <td  id="user_name">Tetiana Gurkivska</td>
                        <td><button class="buttonedit" onclick="for_change_name()"><img class="imgedit" src="/img/edit.png"></button></td>
                      </tr>
                      <tr id="row_user_email">
                        <td id=user_email">t0681689150@gmail.com</td>
                        <td><button class="buttonedit" onclick="for_change_email()"><img class="imgedit" src="/img/edit.png"></button></td>
                      </tr>
                </table>                
            </div>
            <button class="add_proyect">
                <a class="in_boton" href="/views/create_blog.html">Create blog</a>
            </button>
        </div>
        <div id="centre">
            <div id="proyects">
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
            </div>
        </div>
        

    </main> 
   
    <footer id = "Footer">
        Copyright &copy; Your Website 2022
    </footer>
  
</body>
<script src="/js/index.js"></script>
</html>