<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body  id="page-top" class="loginBody">
    <nav>
        <a class="brand" href="index.html">
            FABULA
        </a>
    </nav>
    <section class="page-section" id="blog" >
    <div class="section">
        <div class="setting">
            <div class="left">
                <button class="section_setting">A1▼</button>
                <button class="section_setting content">Content</button>

            </div>
            <div class ="right">
                <button class="section_setting"><img class="img_setting" src="/static/img/edit.png"></button>
                <button class="section_setting"><img class="img_setting"  src="/static/img/delete.png"></button>
                <button class="section_setting"><img class="img_setting"  src="/static/img/on.png"></button>
                <button class="section_setting">▲</button>
                <button class="section_setting">▼</button>
                
            </div>
            


        </div>
        <h4 class="texto_centro">Blog1</h4>
        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
             deleniti numquam nisi temporibus</p>
    </div>

    </section>
    <button id="start" onclick="create_section()">
        Start
    </button>
    <!-- <footer>
        Copyright &copy; Your Website 2022
    </footer> -->
</body>
</html>