<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>create blog</title>
</head>
<body id="page-top" class="loginBody">
    <nav>
        <a class="brand" href="index.html">
            FABULA
        </a>
    </nav>
    <section class="page-section" id="create_blog">
            <form id = "registerForm">
                <div class="mb-1">
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Blog Name *" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="description" type="text" placeholder="Blog description *" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="description:required">An description is required.</div>
                        </div>
                <button class="send_message" id="submitLogin" type="submit">Create</button>
                
            </form>
    </section>
    <footer class="loginFooter">
        Copyright &copy; Your Website 2022
    </footer>
</body>
</html>