<select class='herramineta' name='Size'>\
    <option disabled>Size</option>\
    <option>1</option>\
    <option>2</option>\
    <option>4</option>\
    <option>6</option>\
    <option>8</option>\
    <option>10</option>\
    <option>12</option>\
    <option>16</option>\
    <option>18</option>\
    <option>20</option>\
    <option>22</option>\
    <option>24</option>\
    <option>26</option>\
    <option>28</option>\
    <option>30</option>\
</select>\
<select class='herramineta' name='Font'>\
    <option disabled>Font</option>\
    <option>Arial</option>\
    <option>Verdana</option>\
    <option>Tahoma</option>\
    <option>Trebuchet MS</option>\
    <option>Times New Roman</option>\
    <option>Georgia</option>\
    <option>Garamond</option>\
    <option>Courier New</option>\
    <option>Brush Script MT</option>\
</select>\