<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
    </nav>
    <section class="page-section" id="register">
        <form id = "registerForm" method="post">
            <div class="mb-1">
                        <input class="form-control" name="name" type="text" placeholder="Your Name *"  />
                        <input class="form-control" name="password" type="password" placeholder="Your Password *" data-sb-validations="required,password" />
           
            <div class="errors" >
                <% if(typeof alert != 'undefined') { %>
                           <h3> <%= alert[0].msg %></h3>
                <% } %>
                <% if(typeof no_matching != 'undefined') { %>
                           <h3>  No correct password or name </h3>
                <% } %>
            </div>
            <button class="send" id="submitLogin" type="submit">Login</button>
        </form>
    </section>
    <footer class="loginFooter">
        Copyright &copy; Your Website 2022
    </footer>
  <script>
at = localStorage.getItem('access_token')


// var xhr = new window.XMLHttpRequest()
// xhr.open('POST', '/auth/login', true)
// xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
//          let lol = {
//           "access_token":at
//          }
//          xhr.send(JSON.stringify(lol))
//  console.log(at)
  </script>
</body>
</html>