<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
    </nav>
    <section class="page-section" id="register">
        <form id = "registerForm" method="post">
            <div class="mb-1">
                        <input class="form-control" name="name" type="text" placeholder="Your Login *"  required/>
                        <input class="form-control" name="email" type="email" placeholder="Your Email *"  / required>
                        <input class="form-control" name="password" type="password" placeholder="Your Password *" required minlength="8"/>
                    </div>
                    <div class="errors" >
                        <% if(typeof alert != 'undefined') { %>
                            <% alert.forEach(function(error) { %>
                                   <h3> <%= error.msg %></h3>
                            <% }) %>
                        <% } %>
                    </div>

            <button class="send" name="submitLogin" type="submit">Register</button>

        </form>
        
    </section>
    <footer class="loginFooter">
        Copyright &copy; Your Website 2022
    </footer>
</body>
</html>