/* body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */
.loginBody{
    background-color: #494343;
}

nav{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #aacac5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-top: -0.5%;
}

.navbar-list{
    direction: rtl;
    display: flex;
    flex-basis: 100%;
}
.nav-link{
    font-size: 0.95rem;
    color:#6E0D25;
    letter-spacing: 0.0625em;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.brand{

    margin-left: 2%;
    font-size: 0.95rem;
    /* color: #6E0D25;; */
    letter-spacing: 0.0625em;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.imgmenu{
    background-color: #aacac5;
    height: 0.95rem;
}
.buttonmenu{
    background-color: #aacac5;
    border:none;

}
.buttonedit{
    background-color:#ABAFB7;
    border:none;
}
.imgedit{
    background-color:#ABAFB7;
    height: 0.95rem;
}

header{
    color: #aacac5;
    background-image: url('img/start.webp');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    height: 48vh;
    margin-left: -0.5rem;
    margin-right: -2rem;
}
.lema{
    font-size: 3.25rem;
    font-weight: 700;
}


.titulo{
    padding-top: 8rem;
    font-size: 3.25rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
}
.page-section{
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 1rem 3rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

}


#services{
    background-color: #aacac5;
}
#contact{ 
    background-color: #494343;
}
#login, #register, #create_blog,#blog{
    padding-top: 5rem; 
    
 }
#start{
    background-color: #aacac5;
    border: none;
    height: 5vh;
    width: 20vh;
    color: #6E0D25;
    font-size: 0.95rem;
    /* color: #6E0D25; */
    letter-spacing: 0.0625em;
    display: block;
    padding: 0.5rem 1rem;
    
}
.texto_centro{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    /* color:#6E0D25; */
}
.text-muted{
    /* color:#6E0D25; */
}
.form-control {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 1.25rem;
    height: auto;
    margin-bottom: 1.5rem;
}
.my-3{
    font-size: calc(1.275rem + 0.3vw);
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color:#6E0D25;
}
.mb-5{
    margin-bottom: 3rem !important;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}
.d-none{
    display: none;
}
.errors{
    display: grid;
    color:#dc3545;

}
.send{
    background-color: #aacac5;
    border:none;
    color: #6E0D25;
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
}
main{
    
    display: grid;
    position: inherit;
    left: 0;
    top: 0;
    margin-left: -2%;
    width: 100%;
    height: 100%;
    background-color: #A7988B;
}
#main1{
    
    display: flex;
    padding-left: 1rem;
    position: inherit;
    left: 0;
    top: 0;
    margin-left: -2%;
    width: 100%;
    height: 100%;
    background-color: #A7988B;
}
#left{
    background-color:  #ABAFB7;;
    width:80%;

    top: 0;
    padding-top: 3.5rem;
    display: none;
    text-align: center;
    color: #6E0D25;
    align-content: flex-start;

}
#left1{
    background-color:  #ABAFB7;;
    width:30%;
    height: auto;
    top: 0;
    padding-top: 3.5rem;
    display: none;
    text-align: center;
    color: #6E0D25;
    align-content: flex-start;
    position: fixed;
    margin-left: -5%;
    z-index: 9;


}
#types_of_block{
    background-color: #ABAFB7;
    display: none;
    width: auto;
    position: absolute;
    z-index: 9;
    padding-top: 3.2rem;
    max-height: 91vh;
    height: auto;
    margin-left: 25%;
    overflow-y: scroll;
    position: fixed;
}



.add_proyect{

    background-color: #aacac5;
    border: none;
    height: 5vh;
    margin-top: 1rem;

}
.in_boton{
    text-decoration: none;
    color:#6E0D25;
}

#user_data{
    border-bottom: solid 1px black;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
#user_blog{
    width: 100%;
}
#centre{
    padding-top:5rem;
    padding-left:1rem;
    display: grid;
    justify-content: center;
}
#centre1{
    display: grid;
    place-items: center;
    padding-top:5rem;
    padding-left:1rem;
    width: 100%;
}
#proyects{
    display: grid;
}
.proyect{
    background-color: #fff;
    width: 30vh;
    height: 20vh;
    margin-right: 2rem;
    margin-bottom: 2rem;
}



footer{
    background-color: #aacac5;
    color:#6E0D25;
    position: inherit; 
    right: 0;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: -2%;
    bottom: 0;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    z-index: 1030;
    margin-right: -2%;
    margin-left: -2%;
}
.index{
    margin-right: -2rem;
}

.loginFooter{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
}


.section{
    /* background-color: #aacac5; */
    margin-top: 0rem;
    /* padding-bottom: 3rem; */
    /* display: flex; */
}

.setting{
    display: flex;
}

.right{
    display: flex;
    /* float: right; */
    flex-direction: row-reverse;
    width: 100%;
}
.left{
    display: flex;
}

.section_setting{
    height: 3rem;
    background-color: #aacac5;
    width: 3rem;
    border: 1px solid #ffff;
}
.content{
    width:5rem !important;
}
.img_setting{
    height: 2rem;
    width: 2rem;
    background-color: #aacac5;
}



.blog_section{
    margin-bottom: 0;
    border: 1px solid;
    /* width: 100vh; */
}

.add_section{
    background-color: #aacac5;
    border: none;
    height: 5vh;
    width: 20vh;
    color: #6E0D25;
    font-size: 0.95rem;
    /* color: #6E0D25; */
    letter-spacing: 0.0625em;
    display: block;
    padding: 0.5rem 1rem;
    margin-top: -5%;

    
}
.boton_type_of_section{

    background-color: #ABAFB7;
    border: 1px solid black;
    height: 5vh;

    /* margin-top: 1rem; */

}
.cerrar{
    border: none;
    background-color:  #ABAFB7;;
}
#header_of_left{
    display: flex;
    justify-content: space-between;
}
#header_of_left_change{
    display: flex;
    justify-content: space-between;

}

.choose_type{
    width: 17rem;
    height: 12rem;
    background-position:center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden{
    background-color:#fff;
    width:100%;
    place-items: center;
}
@media (min-width: 450px){
    #left, #left1{
        display: none;
        width: 50%;
        min-width: 238px;
        margin-left: 0;
        
    }
}

@media (min-width: 792px){
    .navbar{
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color:  transparent;
        margin-top: 0%;
        margin-right:1%;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    header{
        margin-right: -0.5rem;
    }
    .page-section{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        /* margin-right: -2rem; */
    }
    .nav-link {
        padding-right: 0.5rem;
        color:#6E0D25;
        padding-left: 0.5rem;
    }
    .brand{
        /* color:#6E0D25;  */
    }
    header{
        margin-top: -1%;
        height: 60vh;
    }
    #register,  #create_blog, #blog{
        text-align: -webkit-center;
        display: grid;
        place-items: center;
    }
    #registerForm{
        
        width:50%;

    }
    .col-md-6{
        flex: 0 0 auto;
        width: 50%;
        height: auto;
        height: 100%;
    }
    
    .mb-5{
        display: flex;
    }
    #message{
        height:12.7rem;
    }
    .buttonmenu{
        display:none;
    }
    #left{
        display: grid;
        width: 30%;
        min-width: 238px;
        margin-left: 0;
        
    }
    #left1{
        display: none;
        width: 30%;
        min-width: 238px;
        margin-left: 0;
        
    }
    #types_of_block{
        margin-left: 20%;
        /* height: 91%; */
        max-height: 91vh;
        height: auto;
        width:auto;
    }
    .choose_type{
        width:30rem;
        height: 10rem;
    }
    main{
        display: flex;
    }
    #centre{
        display: flex;
        width: 80%;
    }

    .proyect{
        width: 48vh;
        height: 32vh;
    }
    footer{
        margin-right: -0.5%;
        margin-left: -0.5%;
    }
    .index{
        margin-right: -0.5%;
        /* margin-right: -2rem; */
    }
    
    #Footer{
        margin-right: -0.5%;
        margin-left: -0.5%;
    }
    .add_section{
        margin-top: -1%;
    }
    #message{
        height: 206px;
    }
}

@media (min-width: 1068px){
    #proyects{
        grid-template-columns: 1fr 400px;
    }
}
.green{
    color:#aacac5
}

.background_or_text{
    color: #6E0D25;
    text-align: center;
}
.change_style{
    display: none;
    background-color: #ABAFB7;
    width: 340px;
    z-index: 9;
    margin-left: -2%;
    margin-top: -2%;
    position: absolute;
    

}
.change_block{
    justify-content: center;
    display: grid;

}
.change_style_caja2{
    display: flex;
    margin-bottom: 10px;
    

}
.for_input_color{
   height: 15px;
}
.rgb{
 width: 35px;
}
.h16{
    width:70px;
}
.change_style_caja3{
    display: grid;
    margin-left: 15px;
}

.in_change_style{
    width:80px;
    margin-right: 5px;
}
.button_change{
    background-color: #ABAFB7;
}



