.section{
    background-color: #aacac5;
    /* height: 50vh; */
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right:1rem;
}

.texto_centro{
    font-size: 3.25rem;
    font-weight: 700;
    /* line-height: 1.5rem; */
    color:#6E0D25;
}
.text-muted{
    margin-left: 0;
    margin-right: 0;
    color:#6E0D25;
    font-size: 2rem;
}


.sA1{
    display: grid;
    place-items: center;
    padding-top: 3rem;
    padding-bottom: 6rem;
    
}

.hA1{
    align-self: baseline;
}
.dA1{
    align-self: baseline;
}



.sA2{
    padding-top: 3rem;
}



.sA3, .sA4, .sA7{
    display: grid;
    place-items: center;
}

.iA3{
    border-radius:50%;
    width: 20rem;
}

.iA4{
    width: 100%;
    height:80%;
}

.sA4{
    padding-bottom:0;
}

.sA5, .sA6{
    display: grid;
    place-items: center;
    text-align: -webkit-center;
}
.iA5, .iA6{
    width:20rem;

}

.sA8, sA9, .sA10{
    display: grid;
}


.tA5, .tA6, .tA8, .pA8, .pA10 , .tA10{
    display: grid;
    place-items: center;
}

 .iA81{
    width: 20rem ;
    /* height:80%; */
}

.pA7, .p1A8, .p1A10{
    display:flex;
    justify-content: center;

}
.iA7{
    width:30%; 
}

.iA8{
    height: 15rem;
    width: 10rem;
    margin-right: -1%;
}

.iA9{
    height: 100%;
    width: 100%;
}
.tA9{
    text-align: center;
    padding: 0.2rem;
    place-self: end;
    margin-top: 20%;
    width: 100%;
    
}

.iA10{
    width: 10rem;
    height: 10rem;
}
@media (min-width: 760px){
    .sA8{
        display: flex;
        align-items: center;
    }
}

@media (min-width: 792px){
    .text-muted{
        margin-left: 5rem;
        margin-right: 5rem;
        color:#6E0D25;
    }
    .sA2{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .iA4{
        width: 90vh;
        height:50vh;
        /* margin-bottom: -12%; */
    }
    .dA4{
        /* margin-bottom: -12%; */
    }
    .iA5, .iA6, .iA9{
        width:30rem;
        height: 70%; 
    }
    .sA9, .sA10{
        display: flex;
    }
    .iA8{
        height: 15rem;
        margin-right: -1%;
        width:15rem;
    }
    .iA81{
        width: 30rem;
    }
    
    .tA9{
        background-color: #fff;
    }
    .iA10{
        height: 15rem;
        width:15rem;
        margin-right: -1%;
    }
    .pA10{
        width: 500%;
    }
    

}
@media (min-width: 900px){
    .sA5, .sA6{
        display:flex;
        
    }
}

@media (min-width: 1200px){
    .iA5, .iA6, .iA9, .iA81{
        width:40rem;
        
    }
    .iA8{
        width:20rem;
    }
}

.brand{
    color:#6E0D25; 
}

.sH1{
    text-align: -webkit-left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sH2{
    text-align: -webkit-center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sH3{
    text-align: -webkit-right;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sN1, .sN2, .sN3, .sN4, .sN5, .sN6, .sN7, .sN8, .sN11, .sN12, .sN10, .sN9 , .sN13, .sN14, .sN15{
    text-align: -webkit-center;
    align-items: center;
    height: 48vh;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    display: grid;
    place-items: center;
}
.iN4, .iN5, .iN11, .iN12 , .iN13{
    height: 10rem;
}
.sN6{
    align-items: end;
    padding-top: 12.5rem;
    padding-bottom: 3rem;
}
.sN7{
    align-items: baseline;
    padding-top: 3rem;
    padding-bottom: 12.5rem;
}
.sN8{
    align-items: end;
    padding-top: 15.5rem;
    padding-bottom: 0rem;
    place-items: end;
    padding-right: 0;
}
.tN8, .tN10{
    background-color: aliceblue;
    text-align: -webkit-center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.hN8{
    font-size: 1.25rem;
}

.iN9{
    border-radius: 50%;
}
.sN9{
    background: linear-gradient(to bottom,  antiquewhite 50%, #aacac5 50%);
    padding-left: 0;
    padding-right: 0%;
    align-content: center;
    padding-top: 13rem;
}
.sN15{
    padding-top: 18.5rem;
    padding-bottom: 0rem;
}

@media (min-width: 792px){
    .tN8, .tN10{
        padding-left: 0.5rem;
        padding-right: 0.5rem;   
    }
    .hN8{
        font-size: 3.25rem;
    }
    .sN13, .sN14, .sN15{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.iconF{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    background-color: aliceblue;
}
.iconsF{
    display:flex;
}
.sF1{
    display:grid;
}
.topF{
    width: 100%;
    margin-bottom: 1%;
}
.botomF{
    width: 100%;
    
}
.bF1, .bF2{
    display: grid;
    justify-content: center;
}
.sF1, .sF2, .sF3{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tF2{
    text-align: center;
}
.sF3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}