<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=A, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style1.css" />
    <title>Document</title>
</head>
<body>
    <<!-- A1 -->>
    <h1>A1</h1> 
    <div class="section sA1">
        <h4 class="texto_centro hA1">Blog1</h4>
        <p class="text-muted dA1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
             deleniti numquam nisi temporibus</p>
    </div>
    <h1>A2</h1>
    <div class="section sA2">
        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
             deleniti numquam nisi temporibus</p>
    </div>
    <h1>A3</h1>
    <div class="section sA3">
        <img class="iA3" src="/static/img/desca.jpeg">
        <h4 class="texto_centro">Blog1</h4>
        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
             deleniti numquam nisi temporibus</p>
    </div>
    <h1>A4</h1>
    <div class="section sA4">
        
        <h4 class="texto_centro">Blog1</h4>
        <p class="text-muted dA4" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
             deleniti numquam nisi temporibus
        </p>
        <img class="iA4" src="/static/img/desca.jpeg">
    </div>
    <h1>A5</h1>
    <div class="section sA5">
        <div class = "faA5">
            <img class="iA5" src="/static/img/descarga.jpeg">
        </div>
        
        <div class="texto tA5">
            <h4 class="texto_centro">Blog1</h4>
            <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
                cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
                deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
                 deleniti numquam nisi temporibus
            </p>
        </div>

        
    </div>

    <h1>A6</h1>
    <div class="section sA6">
       
        <div class="texto tA6">
            <h4 class="texto_centro">Blog1</h4>
            <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
                cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
                deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
                 deleniti numquam nisi temporibus
            </p>
        </div>
        <div class = "faA6">
        <img class="iA6" src="/static/img/descarga.jpeg">
        </div>
    </div>
    <h1>A7</h1>
    <div class="section sA7">
        <h4 class="texto_centro">Blog1</h4>
        <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
            cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
            deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
            deleniti numquam nisi temporibus
        </p>
        <div class="pictures pA7">
            <img class="iA7" src="/static/img/color.jpg">
            <img class="iA7" src="/static/img/desca.jpeg">
            <img class="iA7" src="/static/img/descarga.jpeg">
        </div>
    </div>
    <h1>A8</h1>
    <div class="section sA8">
        <div class="pictures pA8">
            <div class="pictures p1A8">
                <img class="iA81" src="/static/img/color.jpg">
            </div>
            
            <div class="pictures p1A8">
                <img class="iA8" src="/static/img/desca.jpeg">
                <img class="iA8" src="/static/img/descarga.jpeg">
            </div>
        </div>
        <div class="texto tA8">
            <h4 class="texto_centro">Blog1</h4>
            <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
                cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
                deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
                deleniti numquam nisi temporibus
            </p>
        </div>
    </div>
    <h1>A9</h1>
    <div class="section sA9">
        <div class="fiA9">
            <img class="iA9" src="/static/img/color.jpg">
        </div>
        
        <div class="texto tA9">
            <h4 class="texto_centro">Blog1</h4>
            <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
                cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
                deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
                deleniti numquam nisi temporibus
            </p>
        </div>
    </div>
  
    <h1>A10</h1>
    <div class="section sA10">
        <div class="pictures pA10">
            <div class="pictures p1A10">
                <img class="iA10" src="/static/img/color.jpg">
                <img class="iA10" src="/static/img/start.webp">
            </div>
            <div class="pictures p1A10">
                <img class="iA10" src="/static/img/desca.jpeg">
                <img class="iA10" src="/static/img/descarga.jpeg">
            </div>
        </div>
        <div class="texto tA10">
            <h4 class="texto_centro">Blog1</h4>
            <p class="text-muted" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, fuga officia aliquam ullam ipsa vitae modi natus nisi veniam in 
                cum quo quidem eaque sit? Sequi animi mollitia hic! Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos, sed ratione, facere 
                deleniti tempora debitis rerum impedit architecto commodi et temporibus quibusdam laboriosam quam odit aperiam odio culpa. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Necessitatibus nobis consequatur error commodi nostrum odit inventore! Recusandae fugit repellendus hic nulla reprehenderit at nam, natus obcaecati, 
                deleniti numquam nisi temporibus
            </p>
        </div>
    </div>
</body>
</html>