<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/style1.css" />
</head>
<body>
    <h3>F1</h3>
    <div class="section sF1">
        <div class="topF">
            <div class="brand">Nombre</div>
        </div>
        <div class="botomF bF1">
            <div class="iconsF">
                <div class="iconF"></div>
                <div class="iconF"></div>
                <div class="iconF"></div>
            </div>
        </div>
    </div>
    <h3>F2</h3>
    <div class="section sF2">
        <div class="topF tF2">
            <div class="brand">Nombre</div>
        </div>
        <div class="botomF bF2">
            <div class="iconsF">
                <div class="iconF"></div>
                <div class="iconF"></div>
                <div class="iconF"></div>
            </div>
        </div>
    </div>
    <h3>F3</h3>
    <div class="section sF3">
            <div class="brand">Nombre</div>
            <div class="iconsF">
                <div class="iconF"></div>
                <div class="iconF"></div>
                <div class="iconF"></div>
            </div>
    </div>
    
</body>
</html>