<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=;, initial-scale=1.0'>
    <link rel='stylesheet' href='/templates/style1.css' />
    <title>Document</title>
</head>
<body>
    <div class='section sH1'>
        <div class='brand'  style='font-size: 2rem;'>NOMBRE</div>
    </div>
    <div class='window' style='background-color: bisque;width: 100%;height: 42vh;'>

    </div>
    <br>
    <div class='section sH2' >
        <div class='brand'  style='font-size: 2rem;'>NOMBRE</div>
    </div>
    <div class='window' style='background-color: bisque;width: 100%;height: 42vh;'>

    </div>
    <br>
    <div class='section sH3'>
        <div class='brand'  style='font-size: 2rem;'>NOMBRE</div>

    </div>
    <div class='window' style='background-color: bisque;width: 100%;height: 42vh;'>

    </div>
</body>
</html>