<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="change_style">
        <div id="header_of_left_change">
            <div class="brand"></div>
            <button class="cerrar brand" onclick="cerrar_change()">X</button>

        </div>
        <div class="change_block">
        <h3 class="background_or_text">Background</h3>
        <div class="change_style_caja2">
            color 
            <div class="change_style_caja3">
                <div class="change_style_caja2">
                    rgb:(<input class="for_input_color rgb"></input>),(<textarea class="for_input_color rgb"></textarea>),(<textarea class="for_input_color rgb"></textarea>)
                </div>
                <div class="change_style_caja2">
                    #: (<textarea class="for_input_color h16"></textarea>)
                </div>    
                    <select class='herramineta in_change_style' name='color'>\
                        <option disabled>color</option>\
                        <option>yellow</option>\
                        <option>green</option>\
                        <option>blue</option>\
                        <option>white</option>\
                        <option>black</option>\
                        <option>gris</option>\
                        <option>pink</option>\
                        <option>red</option>\
                        <option>brow</option>\
                        <option>purple</option>\
                    </select>
               

            </div>
        </div>
        <button  class="button_change">Change background color</button>
    </div>
        <hr style=" height: 2px; width: 100%; background-color: #000000;">
        <div class="change_block">
        <h3 class="background_or_text">Text</h3>
        <div class="change_style_caja2">
            
            color
            <div class="change_style_caja3">
                <div class="change_style_caja2">
                    rgb:(<textarea class="for_input_color rgb"></textarea>),(<textarea class="for_input_color rgb"></textarea>),(<textarea class="for_input_color rgb"></textarea>)
                    
                </div>
                <div class="change_style_caja2">
                #(<textarea class="for_input_color h16"></textarea>)</div>
                    <select class='herramineta in_change_style' name='color'>\
                        <option disabled>color</option>\
                        <option>yellow</option>\
                        <option>green</option>\
                        <option>blue</option>\
                        <option>white</option>\
                        <option>black</option>\
                        <option>gris</option>\
                        <option>pink</option>\
                        <option>red</option>\
                        <option>brow</option>\
                        <option>purple</option>\
                    </select>
                </div>
            
            </div>
            <button class="button_change">Change text color</button>
        </div>
            <hr style=" height: 0.3px; width: 100%; background-color: #000000;">
            <div class="change_block">
        <br>
                <div class="change_style_caja2">
                    Size: 
                    <select class='herramineta in_change_style' name='Size'>
                        <option disabled>Size</option>
                        <option>1</option>
                        <option>2</option>
                        <option>4</option>
                        <option>6</option>
                        <option>8</option>
                        <option>10</option>
                        <option>12</option>
                        <option>16</option>
                        <option>18</option>
                        <option>20</option>
                        <option>22</option>
                        <option>24</option>
                        <option>26</option>
                        <option>28</option>
                        <option>30</option>
                    </select>
                    <button  class="button_change">Change text size</button>
                   
                    </div>
                </div>
                    <hr style=" height: 0.3px; width: 100%; background-color: #000000;">
                    <div class="change_block">
                    <div class="change_style_caja2">
                    Font: 
                    <select class='herramineta in_change_style' name='Font'>
                        <option disabled>Font</option>
                        <option>Arial</option>
                        <option>Verdana</option>
                        <option>Tahoma</option>
                        <option>Trebuchet MS</option>
                        <option>Times New Roman</option>
                        <option>Georgia</option>
                        <option>Garamond</option>
                        <option>Courier New</option>
                        <option>Brush Script MT</option>
                    </select>
                    <button  class="button_change">Change text font</button>
                </div>

            
        </div>
    </div>
        
    </div>
    
</body>
</html>
