<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class='section post'>
        <a class='texto_centro a' href='/lool'>
            LOL
        </a>
        00 -0000-00
        </div>
        <div class='section post'>
            <a class='texto_centro a' href='/lool'>
                LOL@
            </a>
            </div>
            <div class='section post'>
                <a class='texto_centro a' href='/lool'>
                    LOL3
                </a>
                </div>
    <script>
        function view_setting(obj){
            let par = obj.parentNode;
            par= par.parentNode; 
            par= par.parentNode; 
            console.log(par.childNodes);
            let out_set;
            for (i=0;i< par.childNodes.length;i++){
                console.log(par.childNodes[i].className)
                if (par.childNodes[i].className == "ts" ){
                    out_set = par.childNodes[i]
                }
            }
            out_set.style.display="flex";


        }
        function cerrar_setting(obj){
             obj.parentNode.style.display="none";
        }
    </script>
</body>
</html>




       