<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <div  id ="left" class="choosing_type_of_section">
        <button class="boton_type_of_section">
            <a class="in_boton brand" href="/views/create_blog.html">HEADER</a>
        </button>
        <button class="boton_type_of_section">
            <a class="in_boton brand" href="/views/create_blog.html">COVER</a>
        </button>
        <button class="boton_type_of_section">
            <a class="in_boton brand" href="/views/create_blog.html">ABOUT</a>
        </button>
        <button class="boton_type_of_section">
            <a class="in_boton brand" href="/views/create_blog.html">POST</a>
        </button>
        <button class="boton_type_of_section">
            <a class="in_boton brand" href="/views/create_blog.html">FOOTER</a>
        </button>
        <!-- <button class="add_proyect"> -->
        
    </div>
</body>
</html> 