<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <div id="types_of_block">
        <button class="choose_type" onclick="choose_type()" style=" background-image: url(/static/img/templates/F1.png);">
        </button>
        <button class="choose_type" onclick="choose_type()" style=" background-image: url(/static/img/templates/N2.png);">
        </button>
        <button class="choose_type" onclick="choose_type()" style=" background-image: url(/static/img/templates/A1.png);">
        </button>
    </div>
</body>
</html> 