<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style1.css" />
    <title>Document</title>
</head>
<body>
    <h3>N1</h3>
    <div class="section sN1">
        <div class="texto_centro">
            NOMBRE
        </div>
    </div>
    <h3>N2</h3>
    <div class="section sN2">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
    </div>
    <h3>N3</h3>
    <div class="section sN3">
        <div class="text-muted">
            NOMBRE
        </div>
        <div class="texto_centro">
            Create your blog
        </div>
    </div>
    <h3>N4</h3>
    <div class="section sN4">
        <img class="iN4" src="/static/img/desca.jpeg">
        <div class="texto_centro">
            NOMBRE
        </div>
        <!-- <div class="text-muted">
            Create your blog
        </div> -->
    </div>
    <h3>N5</h3>
    <div class="section sN5">
        <img class="iN5" src="/static/img/desca.jpeg">
    </div>
    <h3>N6</h3>
    <div class="section sN6">
        <div class="texto">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
        </div>
    </div>
    <h3>N7</h3>
    <div class="section sN7">
        <div class="texto">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
        </div>
    </div>
    <h3>N8</h3>
    <div class="section sN8">
        <div class="texto tN8">
            <div class="texto">
                <div class="texto_centro hN8">
                    NOMBRE
                </div>
                <div class="text-muted">
                    Create your blog
                </div>
        </div>
    </div>
    </div>
    <h3>N9</h3>
    <div class="section sN9">
            <img class="iN9" src="/static/img/desca.jpeg">
           
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
    </div>
    <h3>N10</h3>
    <div class="section sN10">
        <div class="texto tN10">
            <div class="texto">
                <div class="texto_centro hN8">
                    NOMBRE
                </div>
                <div class="text-muted">
                    Create your blog
                </div>
        </div>
    </div>
    </div>
    <h3>N11</h3>
    <div class="section sN11">
        <img class="iN11" src="/static/img/desca.jpeg">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
    </div>
    <h3>N12</h3>
    <div class="section sN12">
        
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
        <img class="iN12" src="/static/img/desca.jpeg">
    </div>
    <h3>N13</h3>
    <div class="section sN13">
        <div class="texto_centro">
            NOMBRE
        </div>
        <img class="iN13" src="/static/img/desca.jpeg">
    </div>
    <h3>N14</h3>
    <div class="section sN14">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
    </div>
    <h3>N15</h3>
    <div class="section sN15">
        <div class="texto_centro">
            NOMBRE
        </div>
        <div class="text-muted">
            Create your blog
        </div>
    </div>
</body>
</html>