<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <h1> text</h1>
    <div class="section text">
        <div class=" text7y88098hdf text_muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, officia. Vitae accusamus neque ea ducimus repudiandae quisquam eligendi, officiis officia aspernatur
             reprehenderit explicabo iste ad a architecto adipisci. Ex placeat veniam doloremque accusamus aspernatur delectus reprehenderit velit similique praesentium nostrum possimus tempore numquam nisi quam nihil, 
             porro culpa odio excepturi.</div>
    </div>
    <h1> text</h1>
    <div class="section text">
        <div class=" text7y88098hdf text_muted">Aa</div>
    </div>

    <h1>H1 </h1>
        <div class="section th1"><h1 class="text7y88098hdf text_muted">Header1</h1></div>
   
    <h1>H2 </h1>
        <div class="section th2"><h2 class="text7y88098hdf text_muted">Header2</h2></div>    
    <h3>H3 </h3>
        <div class="section th3"><h3 class="text7y88098hdf text_muted">Header3</h3></div>  
    <h1>dividir</h1> 
    <section class="section divider"><hr class="classic_divider"></section>

    <h1>Quote Q1 </h1>
    <section class="section Q1">
        <div class="vl"></div>
        <div class="text7y88098hdf text_quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed qui veritatis quod fugit et accusamus nesciunt laborum cumque dolorum, 
            illo consequuntur voluptatum vitae odit distinctio, explicabo facere quia hic tempora?</div>
    </section>

    <h1>Quote Q2 </h1>
    <section class="section Q2">
        <div class="vl"></div>
        <img class="quote_image" src="../static/img/qq.jpg">
        <div class="text7y88098hdf text_quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed qui veritatis quod fugit et accusamus nesciunt laborum cumque dolorum, 
            illo consequuntur voluptatum vitae odit distinctio, explicabo facere quia hic tempora?</div>
    </section>
    <h1>Table</h1>
    <section class="section Table">
        <table class="btable">
            
                <tr>
                    <td class="tdd"></td>
                    <td  class="tdd"></td>
                </tr>
                <tr>
                    <td  class="tdd"></td>
                    <td  class="tdd"></td>
                </tr>
            </td>
        </table>
    </section>


        
    
    
</body>
</html>
